# https://qiita.com/takanemu/items/c2982bfb74c72cbf174d
[Unit]
Description=launch chromium-browser
After = hs.server.service

[Service]
User=pi
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser --kiosk --app=http://localhost:8888/

[Install]
WantedBy=user@.service

