[Unit]
Description=root server for collaborative devices
After=rc-local.service
[Service]
WorkingDirectory=/home/pi/HS
ExecStart=/usr/bin/python3 /home/pi/HS/tornado_base.py
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run/hs.browser.pid
[Install]
WantedBy=multi-user.target
