[Unit]
Description=root server for collaborative devices
After=rc-local.service
Before = hs.browser.service

[Service]
WorkingDirectory=/home/pi/HS
ExecStart=/home/pi/HS/homeserver.bin
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run/hs.browser.pid

[Install]
WantedBy=multi-user.target
